@using VideoGameLogger.Models
@using Microsoft.AspNet.Identity
@model LoginViewModel
@{
    ViewBag.Title = "Video Game Logger";
}

<div class="jumbotron">
    <h1>Video Game
    <br /> Logger</h1>
    <p class="lead">This is a Web Application to log fighting video games, like Mortal Kombat and Injustice.<br /> You can record information like: </p>
    <ul class="gameList">
        <li>Games</li>
        <li>Characters</li>
        <li>Wins & Losses</li>
        <li>Rounds</li>
        <li>Time & Record Time</li>
    </ul>
    <p><a href="/Characters" class="btn btn-primary btn-lg">Start Adding Characters Here</a></p>
</div>






<div class="row">
    <div class="col-md-8">
@if (!Request.IsAuthenticated)
{
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        <a href="/Account/Register">Register Here</a>
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
            }
        </section>
}
    </div>








    




@if (Request.IsAuthenticated)
{
    <div class="col-md-4" style="width:100%;">
        <h2>Already have names added?</h2>
        <p>
            Start by adding some Character Names from the game you are logging above. You may add as many or as little as you want! Or if you have Characters already set, start logging your games
        </p>
        <p><a class="btn btn-default" href="/VideoGames">Here</a></p>
    </div>
}
else
{
    <div class="col-md-4">
        <h2>Already have names added?</h2>
        <p>
            Start by adding some Character Names from the game you are logging above. You may add as many or as little as you want! Or if you have Characters already set, start logging your games
        </p>
        <p><a class="btn btn-default" href="/VideoGames">Here</a></p>
    </div>
}

</div>
